ORACLE_DB_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
ORACLE_DB_USERNAME=rm564928
ORACLE_DB_PASSWORD=sua_senha_aqui
PETCARE360_JWT_SECRET=petcare360-academic-secret-key-change-before-production-2026
PETCARE360_JWT_EXPIRATION_MINUTES=120
